html,
body {
    width: 100%;
    height: 100%;
    font-family: Roboto, sans-serif;
    line-height: 24px;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.main-header {
    width: 100%;
    background-color: #eee;
    padding: 50px 0;
    margin-bottom: 80px;
}

.main-navigation {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    list-style: none;
    padding: 0;
    display: flex;
}

.navigation-item:not(:first-child) {
    margin-left: 50px;
}

.navigation-link,
.header-basket {
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.navigation-link:hover,
.header-basket:hover,
.navigation-link:focus,
.header-basket:focus {
    color: #fb565a;
}

.navigation-link:active,
.header-basket:active {
   color: rgba(0, 0, 0, 0.3);
}

.active-link {
    border-bottom: 2px solid #fb565a;
}

.catalog p {
    color:#283136;
    font-size: 16px; 
    text-align: left; 
    line-height: 24px;
    margin-bottom: 40px;
    max-width: 238px;
}

.button {
    display: inline-block;
    font-size: 16px;
    padding: 20px 40px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.button-red {
    background-color: #fb565a;
}

.button-red:hover{
    background-color: #e74246;
}

.button-red:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
}    

.button-green {
    background-color:#00ca74;
}

.button-green:hover {
    background-color: #00bc6c;
}

.button-green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00aa62;
}

.button-yellow {
    background-color:#efc84a;
    
}

.button-yellow:hover {
    background-color: #eab534;
}

.button-yellow:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5a722;
}

.catalog{
    display: flex;
    justify-content: space-between;
    }

.main-text {
    font-size: 55px;
    text-align: center;
    line-height: 55px;
}

.price-title {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
}

.catalog-item{
    max-width: 300px;
}

.catalog-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    color: black;
}

.catalog-name label {
    color: #283136;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.catalog p::first-letter {
    text-transform: uppercase;
}

.catalog-type {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
}

.catalog-type label {
    color: #283136;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.products {
    display: flex;
}


.products-sidebar {
    max-width: 140px;
}

.products-wrapper {
    flex: 1 auto;
    margin-left: 140px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.product:nth-of-type(even) {
    margin-left: 20px;
}

.catalog-name{
    display: block;
}

.button-catalog {
    text-align: center;
    text-transform: uppercase;
    background-color: #eeeeee;
}

.name a {
    color: black;
    font-weight: bold;
}

.name {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 35px;
}

.information{
    width: 360px;
    height: 231px;
    background-color: #eeeeee;
    margin-left: 0px;
}

.name a:hover,
.name a:focus {
    color: #fb565a;
}

.name a:active {
    color: rgba(0, 0, 0, 0.3);
}

.info {
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.price {
    font-size: 16px;
    padding: 19px 61px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fb565a;
    color: #ffffff;
    line-height: 18px;
    align-content: center;
    vertical-align: middle;
    border: none;
}

.price:hover,
.price:focus {
    background-color: #e74246;
}

.price:active {
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.visit-card{
    display: block;
    max-width: 318px;
    max-height: 308px;
    text-align: left;
    margin-left: 50px;
}

.visit-card h3 {
    font-weight: bold;
    font-size: 18px; 
    text-align: left; 
    line-height: 30px;
    text-transform: uppercase;
}

.visit-card p {
    color: #666666;
    font-size: 16px; 
    text-align: left; 
    line-height: 18px;
}

.visit-card a {
    font-size: 16px;
    padding: 19px 46px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fb565a;
    color: #ffffff;
    line-height: 18px;
    vertical-align: middle;
    width: 219px;
    height: 50px;
}

.social-media-item:not(:first-child) {
    margin-left: 12px;
}

.social-media-item {
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-media-link {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.social-media img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.social-media img:active{
    opacity: 0.3;
}

.social-media-item:hover,
 .social-media-item:focus{
    background-color: #e74246;
}

.social-media-item:active {
    background-color: #d7373b;
}

.footer-social-friends{
    margin-left: 140px;
}

.social-friends {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
}

.sale {
    color: #444444;
    font-size: 16px;
    line-height: 1.375;
    text-align: left;
    margin-top: 12px;
}

.footer{
    display: flex;
    align-items: center;
}

.social-media{
    display: flex;
    margin-left: 140px;
    padding-inline-start: 0;
    align-items: center;
}

.modal-label {
    color: black;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-align: left; 
}

.modal-input {
    max-width: 360px;
    height: 50px;
    border: solid 2px #d7dcde;
}

.modal .text {
    font-weight: 500;
    font-size: 55px;
    max-width: 760px;
    border: solid 2px #d7dcde;
    text-align: center;
}

.modal p {
    font-size: 45px;
    line-height: 1;
    text-align: left;
}

.write-us {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fb565a;
    color: #ffffff;
    line-height: 18px;
    vertical-align: middle;
}