html,
body {
    width: 100%;
    height: 100%;
    font-family: Roboto, Arial, sans-serif;
    line-height: 24px;
}


* {
    box-sizing: border-box;
}


a{
    text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
}


.container {
    max-width: 1160px;
    margin: 0 auto;
}


.main-header {
    width: 100%;
    background-color: #eee;
    padding-top: 60px;
    padding-bottom: 42px;
    margin-bottom: 54px;
}


.main-header-index {
    width: 100%;
    background-color: #eee;
    padding-top: 60px;
    margin-bottom: 0px;
}


.main-navigation {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navigation {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 86px;
    margin-top: 25px;
}


.navigation-item:not(:first-child) {
    margin-left: 47px;
}


.navigation-link,
.header-basket {
    position: relative;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 8px;
}


.header-basket::before {
    content: "";
    position: absolute;
    background-image: url(../img/cart-icon.png);
    width: 15px;
    height: 15px;
    top: 4px;
    left: -40px
}


.navigation-link:hover,
.header-basket:hover,
.navigation-link:focus,
.header-basket:focus {
    color: #fb565a;
}


.navigation-link-active {
   color: black;
   border-bottom: 1px solid #fb565a;
   padding-bottom: 10px;
}


.slider {
    background-color: #eeeeee;
    margin-bottom: 58px;
}


.slide {
    background-position: 93% 99% ;
    background-repeat: no-repeat;
}


.first-picture {
    background-image: url(../img/slide-picture1.png);
}


.second-picture {
    background-image: url(../img/slide-picture2.png);
}


.third-picture {
    background-image: url(../img/slide-picture3.png);
}


.slide:not(:first-of-type) {
    background-position: 100% 81%;
}


.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}


.slide-wrapper {
    max-width: 515px;
}


.slider-name {
    font-size: 55px;
    font-weight: 500;
    text-align: left;
    line-height: 1;
    margin: 0;
    padding-top: 70px;
}


.slider-description {
    color: #283136;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    padding-top: 12px;
}


.slider-button {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
    background-color: #fb565a;
    padding: 18px 54px;
    margin-top: 21px;
    margin-bottom: 80px;
    border-radius: 5px;
    letter-spacing: normal;
    text-transform: uppercase;
}


.main-text {
    font-size: 55px;
    text-align: center;
    line-height: 55px;
    margin: 70px;
}


.catalog p {
    color:#283136;
    font-size: 16px; 
    text-align: left; 
    line-height: 24px;
    margin-bottom: 33px;
    max-width: 245px;
}


.button {
    display: inline-block;
    font-size: 16px;
    padding: 13px 40px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}


.button-red {
    background-color: #fb565a;
}


.button-red:hover {
    background-color: #e74246;
}


.button-red:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
}    


.button-green {
    background-color:#00ca74;
}


.button-green:hover {
    background-color: #00bc6c;
    transition-duration: 1s;
}


.button-green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00aa62;
    transition-duration: 1s;
}


.button-yellow {
    background-color:#efc84a;
}


.button-yellow:hover {
    background-color: #eab534;
    transition-duration: 1s;
}


.button-yellow:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5a722;
    transition-duration: 1s;
}


.catalog {
    display: flex;
}


.price-title {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    opacity: 0;
}


.catalog-item {
    max-width: 300px;
}


.catalog-name {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 6px;
    text-align: left;
    text-transform: uppercase;
    color: black;
}


.catalog-item:not(:first-child) {
    margin-left: 100px;
}


.catalog p::first-letter {
    text-transform: uppercase;
}


.aside-catalog-name {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin-top: 56px;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
    color: black;
}


.catalog-type {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin-top: 44px;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
}


.wrapper-catalog-name,
.wrapper-catalog-type {
    display: block;
    margin-top: 16px;
    margin-left: 36px;
    color: #283136;
}


.wrapper-catalog-name:first-of-type {
    margin-top: 13px;
}


.wrapper-catalog-type:first-of-type {
    margin-top: 15px;
}


.wrapper-catalog-name label,
.wrapper-catalog-type label {
    position: relative;
    cursor: pointer;
    user-select: none;
}


.catalog-name-input+label {
    position: relative;
}


.catalog-name-input+label::before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    left:-35px;
    background-image: url(../img/radio-off.png);
    background-repeat: no-repeat;
    opacity: 0.4;
}


.catalog-name-input:hover+label::before,
.catalog-name-input:focus+label::before {
    opacity: 1;
    transition-duration: 1s;
}


.catalog-name-input:disabled+label::before {
    opacity: 0.1;
}


.catalog-name-input:checked+label::before {
    content: "";
    position: absolute;
    background-image: url(../img/radio-on.png);
}


.catalog-name-type+label {
    position: relative;
}


.catalog-name-type+label::before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    left:-35px;
    background-image: url(../img/checkbox-off.png);
    background-repeat: no-repeat;
    opacity: 0.4;
}


.catalog-name-type:hover+label::before,
.catalog-name-type:focus+label::before {
    opacity: 1;
    transition-duration: 1s;
}


.catalog-name-type:disabled+label::before {
    opacity: 0.1;
}


.catalog-name-type:checked+label::before {
    content: "";
    position: absolute;
    background-image: url(../img/checkbox-on.png);
}


.button-catalog {
    text-align: center;
    text-transform: uppercase;
    background-color: #eeeeee;
    border: none;
    padding: 18px 88px;
    margin-top: 45px;
    max-width: 260px;
    border-radius: 5px;
    cursor: pointer;
}


.button-catalog:hover,
.button-catalog:focus {
    background-color: #dfdfdf;
    transition-duration: 1s;
}


.button-catalog:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
    transition-duration: 1s;
}


.products {
    display: flex;
}


.products-wrapper {
    flex: 1 auto;
    margin-left: 143px;
}


.button-sorting {
    display: flex;
    margin-bottom: 20px;
}


.sorting-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
}


.products-sorting {
    display: flex;
    list-style: none;
    margin-top: 4px;
    padding-left: 0px;
}


.sorting {
    cursor: pointer;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    color: black;
}


.product-sort:not(:first-of-type) {
    margin-left: 30px;
}


.products-sort {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 93px;
    margin-top: 5px;
    color: black;
}


.product-sort {
    opacity: 0.3;
}


.product-sort:hover,
.product-sort:focus {
    opacity: 0.6;
}


.product-sort:active {
    opacity: 1;
}


.active-sorting {
    opacity: 1;
}


.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-top: 6px;
}


.descrease {
    border-top: 10px solid black;
}


.growth {
    border-bottom: 10px solid black;
}


.products-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0px;
}


.products-sidebar {
    max-width: 260px;
}


.filter-item {
    margin: 0;
    padding: 0;
    border: none;
}


.range-filter {
    width: 260px;
    margin-top: 49px;
}


.filter-item legend {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 48px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.18px;
}


.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding: 40px 20px;
    background-color: #eeeeee;
    border-radius: 5px;
}


.range-controls .scale {
    height: 2px;
    background-color: #d7dcde;
}


.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}


.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}


.range-controls .toggle-min {
    left: 18px;
}


.range-controls .toggle-max {
    left: 160px;
}


.price-controls {
    font-size: 0;
}


.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
    color: #283136;
}


.price-controls input {
    width: 80px;
    padding: 8px 10px;
    margin-left: 9px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
}


.max-price {
    text-align: right;
}


.name a {
    color: black;
    font-weight: bold;
    margin-top: 35px;
}


.name {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 35px;
    margin: 0px;
}


.information {
   position: absolute;
   bottom: 0px;
   left: 0px;
   right: 0px;
   max-width: 360px;
   background-color: #eeeeee;
   display: none;
}


.product:nth-of-type(even) {
    margin-left: 39px;
}


.product {
    margin-bottom: 67px;
    position: relative;
}


.product::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/browser.png);
    width: 100%;
    height: 100%;
    top: -39px;
    background-repeat: no-repeat;
    opacity: 0.12;
}


.product:hover {
    cursor: pointer;
}


.product:hover .information,
.product:focus .information {
    display: block;
}


.product:hover::before,
.product:focus ::before {
    opacity: 0.7;
    transition-duration: 1s;
}


.name a:hover,
.name a:focus {
    color: #fb565a;
    transition-duration: 1s;
}


.name a:active {
    color: rgba(0, 0, 0, 0.3);
    transition-duration: 1s;
}


.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 230px;
    margin: 0 auto;
    margin-top: 25px;
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}


.price {
    display: block;
    font-size: 16px;
    width: 200px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fb565a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 43px;
}


.price:hover,
.price:focus {
    background-color: #e74246;
    transition-duration: 1s;
}


.price:active {
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    transition-duration: 1s;
}


.pages {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}


.page-number {
    padding: 16px 21px;
    background-color: #eeeeee;
    color: black;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}


.page-number:hover,
.page-number:focus {
    background-color: #dfdfdf;
    transition-duration: 1s;
}


.page-number:active {
    background-color: #d5d5d5;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}


.active-page {
    border: solid 3px #dbdbdb;
    background-color: white;
    padding: 14px 18px;
}


.page:not(:first-of-type) {
    margin-left: 10px;
}


.next {
    padding: 16px 78px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
    text-transform: uppercase;
}


.heading {
    display: flex;
    margin-top: 121px;
}


.heading-wrapper h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 1;
    margin: 0;
    margin-top: 37px;
}


.heading-wrapper p {
    color: #283136;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    margin-top: 32px;
}


.heading-wrapper h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0;
    margin-top: 39px;
}


.heading-wrapper ul {
    list-style: none;
    padding-left: 35px;
}


.heading-text {
    position: relative;
    margin-top: 24px;
}


.heading-text::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 11px;
    width: 26px;
    height: 3px;
    background-color: #e74246;
    opacity: 0.9;
}


.logo-picture-wrapper {
    display: flex;
    max-width: 509px;
    padding-left: 120px;
    padding-top: 21px;
}


.logo-picture img {
    margin-left: 148px;
}


.logo-picture h3 {
    padding-left: 166px;
    margin: 0;
    margin-top: 31px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
}


.heading-wrapper {
    max-width: 650px;
    text-align: left;
}


.success {
    font-size: 45px;
    font-weight: bold;
    line-height: 0.22;
    text-align: left;
    position: relative;
}


.success span {
    font-size: 24px;
    font-weight: normal;
    position: absolute;
    bottom: 10px;
}


.description p {
    color: #283136;
    line-height: 1.13;
    margin: 0;
    margin-top: 10px;
}


.description {
    margin-left: 28px;
}


.website-logo {
    display: flex;
    align-items: center;
    border-top: solid 2px #eeeeee;
    margin-top: 56px;
    padding-top: 49px;
    border-bottom: solid 2px #eeeeee;
    padding-bottom: 45px;
}


.image-wrapper:first-of-type {
    margin-left: 28px;
}


.image-wrapper:last-of-type {
    margin-left: 122px;
}


.image-wrapper {
    position: relative;
    margin-left: 99px;
    display: flex;
    align-items: center;
}


.image-wrapper:not(:first-of-type)::before {
    content: "";
    display: block;
    position: absolute;
    left: -49px;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
}


.website-picture {
    opacity: 0.2;
    cursor: pointer;
}


.website-picture:hover,
.website-picture:focus {
    opacity: 1;
    transition-duration: 1s;
}


.website-picture:active {
    opacity: 0.1;
}


.visit-card {
    display: block;
    max-width: 320px;
    max-height: 310px;
    text-align: left;
    margin-left: 50px;
}


.visit-card-container {
    max-width: 200px;
    margin: 0 auto;
}


.visit-card h3 {
    font-weight: bold;
    font-size: 18px; 
    text-align: left; 
    line-height: 30px;
    text-transform: uppercase;
}


.visit-card p {
    color: #666666;
    font-size: 16px; 
    text-align: left; 
    line-height: 18px;
}


.button-popup {
    display: block;
    font-size: 16px;
    padding: 18px 45px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fb565a;
    color: #ffffff;
    line-height: 18px;
    border-radius: 5px;
    max-width: 220px;
    margin: 35px 50px 45px 50px;
}


.phone-number {
    color: #666666;
}


.social-media-item:not(:first-child) {
    margin-left: 12px;
}


.social-media-item {
    list-style: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e1e1e1;
}


.social-media-link {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}


.social-media img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.social-media img:active {
    opacity: 0.3;
    transition-duration: 1s;
}


.social-media-item:hover,
.social-media-item:focus {
    background-color: #e74246;
    transition-duration: 1s;
}


.social-media-item:active {
    background-color: #d7373b;
    transition-duration: 1s;
}


.footer-social-friends {
    margin-left: 140px;
    padding-top: 15px;
}


.social-friends {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}


.sale {
    color: #444444;
    font-size: 16px;
    line-height: 1.375;
    text-align: left;
    margin-top: 12px;
}


.footer {
    display: flex;
    align-items: center;
}


.social-media {
    display: flex;
    padding-inline-start: 0;
    align-items: center;
}


.modal {
    max-width: 960px;
    max-height: 590px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform:translate( -50%,-50%) ;
    position: fixed;
    background-color: #ffffff;
    box-shadow:  0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    padding: 70px 100px 85px 100px;
    display: none
    ;
}


.modals-inputs-wrapper {
    display: flex;  
}


.modals-input-wrapper {
    max-width: 360px;
    width: 100%;
    margin-bottom: 3px;
}


.modals-input-wrapper:nth-of-type(even) {
    margin-left: 40px;
}


.modal-close {
    width: 21px;
    height: 21px;
    border: 0;
    padding: 0px;
    cursor: pointer;
    background-color: #ffffff;
    position: absolute;
    top: 80px;
    right: 100px;
}


.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 4px;
    background-color: #e74246;
    opacity: 0.3;
}


.modal-close::before {
    transform: rotate(45deg);
}


.modal-close::after {
    transform: rotate(-45deg);
}


.modal label {
    color: black;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-align: left; 
    display: block;
    margin-top: 30px;
}


.modal input {
    width: 100%;
    height: 50px;
    color: rgba(68, 68, 68, 0.5);
    border: solid 2px #d7dcde;
    margin-top: 11px;
    padding-left: 15px ;
}


.modal input:hover,
.modal-text-box:hover {
    color: rgba(68, 68, 68, 0.5);
    border: solid 2px #b4b9bb;
    transition-duration: 1s;
}


.modal input:focus,
.modal-text-box:focus {
    color: #444444;
    border: solid 2px black;
    transition-duration: 1s;
}


.modal input:disabled,
.modal-text-box:disabled {
    color: #e74246;
    border: solid 2px #e74246;
}


.modal-text-box {
    width: 100%;
    min-height: 120px;
    padding-left: 14px;
    padding-top: 11px;
    margin-top: 10px;
}


textarea {
    resize: vertical;
}


.modal p {
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    display: block;
}


.write-us {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fb565a;
    color: #ffffff;
    line-height: 18px;
    vertical-align: middle;
    margin-top: 38px;
    padding: 17px 84px;
    border: none;
    border-radius: 5px;
}


.modals-input-wrapper input[type="text"],
.modals-input-wrapper input[type="email"] {
    box-sizing: border-box;
    width: 100%;
    padding-left: 13px;
}